* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    font-family: Arial, sans-serif;
    background-color: #ece2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


/* Navbar */
nav {
    width: 100%;
    background-color: #007D6C;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color:  #000000;
}

/* Contenedor de tarjetas */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 20px; /* Espacio entre tarjetas */
    max-width: 100%; /* Ancho máximo del contenedor */
    padding: 20px;
    margin-top: 20px;
    justify-items: center; /* Centrar las tarjetas dentro de sus columnas */
}

.card {
    background-color: #5EB1BF;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    width: 100%; /* Las tarjetas ocuparán el ancho de su columna */
    max-width: 300px; /* Ancho máximo de las tarjetas */
}
 
.card:hover {
    transform: translateY(-10px);
}


.card img {
    width: 100%;
    height: auto;
}


/* Responsividad */
@media (max-width: 992px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
}

/* Botón volver */
.volver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5EB1BF; /* Color base sólido (verde) */
    color: white; /* Texto blanco */
    text-decoration: none; /* Sin subrayado */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold;
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor a mano */
    transition: background-color 0.3s; /* Transición suave en el hover */
    text-align: start; /* Alinear el texto */
}

.volver:hover {
    background-color: #1cdf23; /* Color azul claro al pasar el mouse */
    color: white; /* Mantener el texto blanco */
}
/* Contenedor del botón */
.button-container {
    width: 100%; /* Asegurar que ocupa todo el ancho */
    display: flex; /* Usar flexbox para alinear */
    justify-content: flex-start; /* Alinear a la izquierda */
    padding: 10px 0; /* Espaciado interno */
    margin-left: 10%;
}



.content {
    padding: 20px;
    text-align: center;
}

.content a{
    text-decoration: none;
    color: #071108;
}

h2 {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 10px;
}

h1{
    color: #191515;
    padding: 10px;
}

p {
    color: #000000;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

.table-container {
    width: 100%;
    height: 100vh; /* La tabla ocupará toda la altura de la pantalla */
    overflow-y: auto;
    background-color: #f9f9ff;
    padding: 20px; /* Margen a los lados del contenedor */
  }
  
  .data-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px; /* Espacio entre filas */
  }
  
  .data-table tr {
    border-radius: 8px; /* Bordes redondeados de cada fila */
  }
  
  .data-table td {
    width: calc(100% - 40px); /* Asegura que la fila no ocupe todo el ancho con márgenes laterales */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #007D6C;
    color: black;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }  

  .data-table a{
    text-decoration: none;
    color: #F1FAEE;
  }

  /* Footer */
footer {
    width: 100%;
    background-color: #007D6C; /* Color de fondo del footer */
    text-align: center;
    padding: 20px 0; /* Espaciado interno */
    position: relative; /* Permite que el footer se quede al final del contenido */
    bottom: 0;
    margin-top: 20px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil en la parte superior */
}

footer p {
    color: #f1f1f1; /* Color de los enlaces */
    
}

footer a:hover {
    color: #d4d4d4; /* Cambio de color al pasar el mouse */
}
